@font-face {
    font-family: 'PSBold';
    src: url('../../src/assets/fonts/Product Sans Bold.ttf');
}

@font-face {
    font-family: 'PSReg';
    src: url('../../src/assets/fonts/Product Sans Regular.ttf');
}

.h1, .h6, .btn     {
    color: #472836 !important;
}

.h1 {
    font-family: 'PSBold';
}

.h6, .btn {
    font-family: 'PSReg';
}

.section-3-header, .section-4-header, .about-us-header, .contact-us-header, .feature-section-3-header, .feature-section-5-header, .features-header {
    text-transform: uppercase;
}

.h6 {
    font-size: 20px;
}

.masthead {
    text-transform: uppercase;
    font-size: 50px;
}

.btn {
    background-color: #9AD2CB !important;
    border: none;
}

.masthead-container{
    margin-bottom: 150px;
}
.section-1-header, .section-1-body, .section-1-figure {
    margin-bottom: 30px;
}

.about-us-body {
    margin: 50px;
}